---
layout: default
bodyClass: "page-basic"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{post.title}}</h1>
{{ post.file }}

                    <article class="post" >

                        <h1 class="u-full-width" >{{ post.title }}</h1>
                           
                        <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time> | A discussion with {{ post.voices }}</p>
                        
                        <div class="container center-content">
                            <div class="seven columns">
                                <audio controls>
                                    <source src="{{ post.file }}" type="audio/mp3">
                                </audio>
                            </div>
                            <div class="four columns center-content">
                                <a href="{{ site.baseurl }}{{ post.file }}" class="button u-full-height" download="{{ post.title }}">Download Now</a>
                            </div>
                        </div>

                        <div>
                            {{ content }}
                            
                            <p><em>Keywords - {{ post.keywords }}</em></p>
                        </div>    
                    </article>

                    <!-- <script src="{{ site.baseurl }}/js/plyr.js"></script> -->
                    <script src="https://cdn.plyr.io/3.6.12/plyr.js"></script>
                    <script>plyr.setup();</script>





            </div>
        </div>
    </div>
</div>
